.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input, textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 400px;
}

button {
  padding: 10px 20px;
  background-color: #43eb3d;
  border: none;
  cursor: pointer;
}

.task-completed {
  text-decoration: line-through;
  color: gray;
}

.task-active {
  color: black;
}
